<div class="app-main-content-start">
  <div class="search-filter-container">

    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Pesquisar</mat-label>
      <mat-icon matPrefix  style="padding : 0px 10px">search</mat-icon>
      <input matInput autocomplete="off" placeholder="Placeholder" #searchInput>
    </mat-form-field>

    <span class="material-icons" style="width:10%">
      filter_list
    </span>
  </div>
  <div style="margin-top: 16px;">
    <mat-action-list *ngFor="let item of data;" style="display:flex; background:white;
      padding-bottom: 8px;">
      <button mat-list-item (click)="openDialog(item)">
        <div>
          <div class="music-name-item">
            <span>{{item?.name}}</span>
          </div>
          <span class="music-detail-item">{{getDetailsMusicItem(item)}}</span>
        </div>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menuMusicItemList">
        <span class="material-icons-outlined blue-icon">
          more_vert
        </span>
      </button>
    </mat-action-list>
  </div>

  <div class="add-music">
    <button mat-fab  routerLink="/music/create" type="submit" style="background-color: #142454;">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-menu  #menuMusicItemList="matMenu">
  <div class="menu-account">
    <mat-list>
      <mat-list-item>
        <span>content...</span>
      </mat-list-item>
    </mat-list>
  </div>
</mat-menu>
