<div class="app-main-content-start">
  <div class="search-filter-container">

    <mat-form-field appearance="outline" class="search-input" style="align-items: center;">
      <mat-label>{{ 'useful.search' | translate}}</mat-label>
      <mat-icon matPrefix  style="padding : 0px 10px">search</mat-icon>
      <input matInput autocomplete="off" placeholder="{{ 'placeholder.musicManagementSearch' | translate}}" #searchInput>
    </mat-form-field>

    <div style="width: 100%;">

      <mat-chip-list selectable multiple>
        <mat-chip id="filter-chip"
                  [selected]="hasSelectedSingers()"
                  (click)="openSingersFilterDialog()">

          {{ 'useful.filters' | translate}}

          <span *ngIf="!hasSelectedSingers()" class="material-icons" style="margin-left: 6px;">
            filter_list
          </span>

          <span *ngIf="hasSelectedSingers()" style="margin-left: 6px;">
            • {{ selectedSingersList.length }}
          </span>

        </mat-chip>

        <mat-chip *ngFor="let item of musicStatusList"
                  [selected]="item.isSelected"
                  #matChipElement="matChip"
                  (click)="toggleSelection(matChipElement, item)">
          {{ item.displayValue }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div *ngIf="!isLoading" class="total-content-container">
    <span>{{ data.length }} {{ 'useful.of' | translate}} {{ totalData }} {{ 'useful.results' | translate}}</span>
  </div>
  <div>
    <mat-action-list *ngFor="let item of data;" style="display:flex; background:white;
      padding-bottom: 8px;">
      <button mat-list-item (click)="openMusicDetailsDialog(item)">
        <div>
          <div class="music-name-item">
            <span>{{item?.name}}</span>
          </div>
          <div style="display: flex; align-items: center;">
            <span class="music-detail-item">
              {{getDetailsMusicItem(item)}}
            </span>
            <div class="status-apparence" [style.background]="getBackgroundColorStatus(item.musicStatus)">
              <span>
                {{ translateMusicStatus(item.musicStatus) }}
              </span>
            </div>
          </div>
        </div>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menuMusicItemList">
        <span class="material-icons-outlined blue-icon">
          more_vert
        </span>
      </button>
      <mat-menu  #menuMusicItemList="matMenu">
        <div class="menu-account">
          <mat-list>
            <mat-list-item>
              <button mat-button (click)="openMusicDetailsDialog(item)">
                <span class="material-icons-outlined">
                  description
                </span>
                <span style="margin-left: 5px;"> {{ 'button.seeDetails' | translate }} </span>
              </button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button [routerLink]="['/music/create-or-edit']" [state]="item">
                <span class="material-icons-outlined">
                  edit
                </span>
                <span style="margin-left: 5px;"> {{ 'button.edit' | translate }} </span>
              </button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button (click)="openDeleteMusicDialog(item)">
                <span class="material-icons-outlined">
                  delete
                </span>
                <span style="margin-left: 5px;"> {{ 'button.delete' | translate }} </span>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-menu>
    </mat-action-list>

    <div *ngIf="!hasMusicList()" class="event-without-next-container">
      <span class="no-data-first-message">
        {{ 'useful.nothingToShow' | translate }}
      </span>
      <span class="no-data-second-message">
        {{ 'music.noDataMessage' | translate }}
      </span>
    </div>

    <div *ngIf="!hasMusicListWithFilterApplied()" class="event-without-next-container">
      <span class="no-data-first-message">
        {{ 'useful.nothingToShow' | translate }}
      </span>
      <span class="no-data-second-message">
        {{ 'music.filterNoResults' | translate }}
      </span>
    </div>

  </div>

  <div class="add-button-blue">
    <button mat-fab  routerLink="/music/create-or-edit" type="submit" style="background-color: #142454;">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
