.search-filter-container {
  margin: 0px;
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

div.mat-chip-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0px 10px 10px;
  padding-bottom: 10px;

  .mat-chip {
    flex: 0 0 auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    background: white;
    border: solid;
    border-color: lightgray;

    border-width: thin;
  }

  #filter-chip {
    color: #00726B;
    background: #E6F5F4;
    border: none;
  }
}

.filter-chip {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #00726B;
  background: #E6F5F4;
}

.blue-icon {
  color: #2F80ED;
}

.music-name-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.music-detail-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.add-music {
  position: fixed;
  right: 3vw;
  bottom: 2vh;
  z-index: auto
}
