<div class="app-main-content-start">
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)" style="background-color: white;">

    <!-- -------------------------------- NEXT Events Tab --------------------------------  -->
    <mat-tab label="{{ 'event.tab.next' | translate }}">

      <div class="chipOfTab">
        <mat-chip-list selectable #listTab1>
          <mat-chip [selected]="myEventsTab1?.isSelected"
                    #myEventChipTab1="matChip"
                    (click)="toggleSelection(listTab1, myEventChipTab1, myEventsTab1)">
            {{ myEventsTab1?.displayValue }}
          </mat-chip>
        </mat-chip-list>
      </div>

      <div *ngIf="!isLoadingNextEvents" style="background: #F7F8FD">
        <div *ngIf="eventsFiltered | async; let filteredList" class="total-content-container">
          <span>{{ filteredList.length }} {{ 'useful.of' | translate}} {{ totalNextEvents }} {{ 'useful.results' | translate}}</span>
        </div>
      </div>

      <app-hammeron-event-card [isLoading]="isLoadingNextEvents"
                               [eventsObs$]="eventsFiltered"
                               [hasEvents]="hasNextEvents()"
                               [isEventWasDeleted]="isEventWasDeleted"
                               (isEventWasDeletedChange)="checkIfShouldReload($event)">
      </app-hammeron-event-card>

      <div *ngIf="canAddEvent()" class="add-button-blue">
        <button mat-fab  routerLink="/event/create-or-edit" type="submit" style="background-color: #142454;">
          <mat-icon class="notranslate">add</mat-icon>
        </button>
      </div>

    </mat-tab>

    <!-- -------------------------------- Old Events Tab --------------------------------  -->
    <mat-tab label="{{ 'event.tab.old' | translate }}">
      <div class="chipOfTab">
        <mat-chip-list selectable multiple #listTab2>
          <mat-chip [selected]="myEventsTab2?.isSelected"
                    #myEventChipTab2="matChip"
                    (click)="toggleSelection(listTab2, myEventChipTab2, myEventsTab2)">
            {{ myEventsTab2?.displayValue }}
          </mat-chip>
          <mat-chip *ngFor="let chipItem of chipRangeList"
                    [selected]="chipItem.isSelected"
                    #chipTab2="matChip"
                    (click)="toggleSelection(listTab2, chipTab2, chipItem)">
            {{ chipItem.displayValue }}
          </mat-chip>
        </mat-chip-list>
      </div>

      <div *ngIf="!isLoadingOldEvents">
        <div *ngIf="eventsFiltered | async; let nextEventsList" class="total-content-container" style="background: #F7F8FD">
          <span>{{ nextEventsList.length }} {{ 'useful.of' | translate}} {{ totalOldEvents }} {{ 'useful.results' | translate}}</span>
        </div>
      </div>

      <app-hammeron-event-card [isLoading]="isLoadingOldEvents"
                               [keyMessageNoEventDescribe]="'event.noOldEventsDescribe'"
                               [dateFormat]="'EE, d MMMM, yyyy'"
                               [eventsObs$]="eventsFiltered"
                               [hasEvents]="hasOldEvents()">
      </app-hammeron-event-card>

    </mat-tab>
  </mat-tab-group>
</div>
