mat-dialog-actions, .confirm-delete {
  display: flex;
  justify-content: center;
}

.confirm-delete {
  text-align: center;
  margin: 20px 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.music-info {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #142454;
}

.event-music-container {
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.494118);
  display: flex;
  flex-direction: column;
}
