<div mat-dialog-title >
  <div class="title-dialog-container">
    <span class="center-text-header-dialog"> {{ 'useful.filters' | translate}}</span>
    <span class="material-icons-round notranslate" style="margin-right: 20px;" (click)="close()">
      close
    </span>
  </div>
</div>

<mat-dialog-content class="mat-typography" style="overflow: hidden;">
  <div class="search-filter-container">

    <mat-form-field appearance="outline" class="search-input">
      <mat-icon class="notranslate" matPrefix  style="padding : 0px 10px">search</mat-icon>
      <input matInput
          autocomplete="off"
          placeholder="{{ 'placeholder.musicManagementSearch' | translate}}"
          [ngModel]='searchInputValue'
          (ngModelChange)='seachInputSubject.next($event)'>
      <button *ngIf="searchInputValue" matSuffix mat-icon-button aria-label="Clear" (click)="seachInputSubject.next('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div style="margin: 0px 20px 20px;">

    <span class="singers-text">
      {{ 'music.singers' | translate}}
    </span>
  </div>

  <div id="chipSingers">

    <mat-chip-list selectable multiple focused="false">
      <mat-chip *ngFor="let item of singerFilteredList"
          #c="matChip"
          [selected]="item?.isSelected"
          (click)="toggleSelection(c, item)">
            {{item.displayValue}}
      </mat-chip>
    </mat-chip-list>
  </div>

  <div *ngIf="!hasSingerList()" class="event-without-next-container">
    <span class="no-data-first-message">
      {{ 'useful.nothingToShow' | translate }}
    </span>
    <span class="no-data-second-message">
      {{ 'music.filterNoResults' | translate }}
    </span>
  </div>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center;">
  <button mat-button matBadge="{{ singerSelectedList.length }}" style="border-radius: 8px;" class="blue-button" (click)="close()">
    {{ 'button.applyFilter' | translate}}
  </button>
</mat-dialog-actions>
