<div class="app-main-content-start justify-content-center">

    <form [formGroup]="eventForm" autocomplete="off" class="form-center">

      <mat-form-field appearance="outline">
        <mat-label>{{ 'event.name' | translate }}</mat-label>
        <input matInput placeholder="{{ 'event.name' | translate }}" formControlName="name" required>
        <mat-error *ngIf="name?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
      </mat-form-field>
      <br>


    <!--------------------------------------- DATE AND TIME --------------------------------------->
    <div class="date-time-container">
      <mat-form-field appearance="outline" class="date-time-field" (click)="picker.open()">

        <mat-icon matPrefix class="material-icons-outlined notranslate" style="color: rgba(0, 0, 0, 0.6);">today</mat-icon>
        <input matInput placeholder="00/00/00" [min]="minDate" [max]="maxDate" formControlName="date" [matDatepicker]="picker" readonly>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
        <mat-error *ngIf="date?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
      </mat-form-field>

      <div class="line-icon-container">
        <mat-icon class="notranslate" style="color:rgba(0, 0, 0, 0.08); ">horizontal_rule</mat-icon>
      </div>

      <mat-form-field appearance="outline" class="date-time-field" (click)="timePicker.open()">
        <input
            matInput
            [ngxTimepicker]="timePicker"
            [format]=24
            [value]="'08:30'"
            formControlName="time"
            [maxLength]="5"
            readonly
            placeholder="00:00"
        />
        <mat-icon matPrefix
                  class="material-icons-outlined notranslate"
                  style="color: rgba(0, 0, 0, 0.6); padding-left: 40px;">
            watch_later
          </mat-icon>
        <ngx-material-timepicker #timePicker [theme]="darkTheme">
        </ngx-material-timepicker>
        <mat-error *ngIf="time?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
      </mat-form-field>

    </div>

    <!--------------------------------------- PARTICIPANTS --------------------------------------->
    <div class="section-multi-select" #sectionPeople>
      <div class="section-multi-select-text">
        <span>
          {{ 'event.peoples' | translate }}
        </span>
      </div>

      <mat-form-field appearance="outline" (click)="onClickAutoScroll(sectionPeople)">
        <mat-select
              [formControl]="userMultiCtrl"
              placeholder="{{ 'placeholder.add' | translate }}"
              [multiple]="true"
              #userMultiSelect>

          <mat-option>
            <ngx-mat-select-search
                [formControl]="userMultiFilterCtrl"
                [noEntriesFoundLabel] = "getMessageNoOptions()"
                [placeholderLabel] = "getMessagePlaceholderUserSearch()">
            </ngx-mat-select-search>
          </mat-option>

          <div *ngIf="filteredUserMulti | async; let userList">

            <mat-option *ngFor="let user of userList" [value]="user">
              {{ user.name }} ({{user.email}})
            </mat-option>
            <mat-option *ngIf="userList.length === 0"
              style="background: rgba(0, 0, 0, 0.16);"
              disabled>
                <span class="option-to-select">
                  <i>{{ 'useful.noOptions' | translate }}</i>
                </span>
            </mat-option>
          </div>
        </mat-select>

        <mat-icon class="material-icons-outlined notranslate" matPrefix>
          <mat-spinner diameter="20" *ngIf="isLoadingParticipants"></mat-spinner>
          <div *ngIf="!isLoadingParticipants">
            person
          </div>
        </mat-icon>
      </mat-form-field>

      <div class="selected-option-chip-container">
        <div *ngFor="let selectedParticipant of userMultiCtrl?.value" class="align-icon-and-text selected-option-chip">
          <div class="center-button-chip" (click)="unselectUser(selectedParticipant)">
            <span class="material-icons-outlined notranslate" style="font-size: 14px;">
              close
            </span>
          </div>
          {{ selectedParticipant?.name }} ({{selectedParticipant.email}})
        </div>
      </div>
    </div>

    <!--------------------------------------- MUSICS --------------------------------------->
    <div class="section-multi-select" #sectionMusic>
      <div class="section-multi-select-text">
        <span>
          {{ 'event.musics' | translate }}
        </span>
      </div>

      <mat-form-field appearance="outline" (click)="onClickAutoScroll(sectionMusic)">
        <mat-select
              [formControl]="musicMultiCtrl"
              placeholder="{{ 'placeholder.add' | translate }}"
              [multiple]="true"
              #musicMultiSelect>

          <mat-option>
            <ngx-mat-select-search
                [formControl]="musicMultiFilterCtrl"
                [noEntriesFoundLabel] = "getMessageNoOptions()"
                [placeholderLabel] = "getMessagePlaceholderMusicSearch()">
            </ngx-mat-select-search>
          </mat-option>

          <div *ngIf="filteredMusicMulti | async; let musicList">

            <mat-option *ngFor="let music of musicList" [value]="music">
              {{ music.musicName }} ({{music.singerName}})
            </mat-option>
            <mat-option *ngIf="musicList.length === 0"
              style="background: rgba(0, 0, 0, 0.16);"
              disabled>
                <span class="option-to-select">
                  <i>{{ 'useful.noOptions' | translate }}</i>
                </span>
            </mat-option>
          </div>
        </mat-select>

        <mat-icon class="material-icons-outlined notranslate" matPrefix>
          <mat-spinner diameter="20" *ngIf="isLoadingMusics"></mat-spinner>
          <div *ngIf="!isLoadingMusics">
            music_note
          </div>
        </mat-icon>
      </mat-form-field>

      <div class="selected-option-chip-container">
        <div *ngFor="let selectedMusic of musicMultiCtrl?.value" class="align-icon-and-text selected-option-chip">
          <div class="center-button-chip" (click)="unselectMusic(selectedMusic)">
            <span class="material-icons-outlined notranslate" style="font-size: 14px;">
              close
            </span>
          </div>
          {{ selectedMusic?.musicName }} ({{ selectedMusic?.singerName }})
        </div>
      </div>

    </div>

    <button id="button-submit" mat-raised-button
    class="blue-button"
      type="submit" [disabled]="isInvalidFormOrNoChanges()"
      (click) = "onSave()">
        <span *ngIf="!isLoading">{{ 'button.save' | translate }}</span>
        <mat-icon class="notranslate" *ngIf="isLoading">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
    </form>
  </div>
