<div class="app-main-content-center">
  <div>
    <!-- <img mat-card-image src="none" alt="describe img"> -->
    <p class="text-info">
      {{ 'register.sentCode' | translate }}
    </p>
    <br>

    <form [formGroup]="registerConfirmationForm" autocomplete="off">

      <div class="container-dig">
        <input matInput formControlName="dig1" placeholder="-" required type="number" min="1" max="9" (keyup)="onInputNumber($event, 'dig1')">
        <input matInput formControlName="dig2" placeholder="-" required type="number" min="1" max="9" (keyup)="onInputNumber($event, 'dig2', 'dig1')">
        <input matInput formControlName="dig3" placeholder="-" required type="number" min="1" max="9" (keyup)="onInputNumber($event, 'dig3', 'dig2')">
        <input matInput formControlName="dig4"placeholder="-"  required type="number" min="1" max="9" (keyup)="onInputNumber($event, 'dig4', 'dig3')">
      </div>

      <p class="text-info new-token-count">
        {{ 'register.requestNewCode' | translate }} <span class="timer">{{minutesToExpired}}:{{secondsToExpired}}</span>
      </p>

      <p [style.visibility]="canRequestNewCode ? 'visible' : 'hidden' " class="text-info">
        <mat-icon class="material-icons-outlined">info</mat-icon>
        {{ 'register.notReceiveCodeQuestion' | translate }}
        <span class="text-link-new-token" routerLink="." (click)="sendNewToken()">{{ 'register.notReceiveCodeLinkMessage' | translate }}</span>
        <mat-icon>
          <mat-spinner *ngIf="isLoadingNewToken" diameter="20"></mat-spinner>
        </mat-icon>
      </p>

      <br>
      <app-button-loading [isLoading] = "isLoading"
          [isValidForm] = "!registerConfirmationForm.valid"
          buttonWidthSize = "320px"
          buttonHeightSize = "48px"
          (click)="onSubmit()">
      </app-button-loading>
    </form>
  </div>
</div>
