<div class="app-main-content">

  <h3>{{ 'section.registerConfirmation' | translate }}</h3>
  <br>
  <div>
    <!-- <img mat-card-image src="none" alt="describe img"> -->
    <p>
      {{ 'register.sentCode' | translate }}
    </p>
    <br>
    <p>
      {{ 'register.pleasePutTheCode' | translate }}
    </p>
    <form [formGroup]="registerConfirmationForm" autocomplete="off">

      <input matInput formControlName="dig1" required type="number" min="0" max="9" (keyup)="onInputNumber($event, 'dig1')">
      <input matInput formControlName="dig2" required type="number" min="0" max="9" (keyup)="onInputNumber($event, 'dig2')">
      <input matInput formControlName="dig3" required type="number" min="0" max="9" (keyup)="onInputNumber($event, 'dig3')">
      <input matInput formControlName="dig4" required type="number" min="0" max="9" (keyup)="onInputNumber($event, 'dig4')">

      <p>
        {{ 'register.notReceiveCodePt1' | translate }}
        <a routerLink="." (click)="sendNewToken()">{{ 'useful.here' | translate }}</a>
        {{ 'register.notReceiveCodePt2' | translate }}

        <mat-icon>
          <mat-spinner *ngIf="isLoadingNewToken" diameter="20"></mat-spinner>
        </mat-icon>
      </p>

      <button id="buttonSubmit" mat-raised-button color="primary" type="submit" [disabled]="!registerConfirmationForm.valid" (click)="onSubmit()">
        {{ 'button.continue' | translate }}
      </button>

      <mat-icon>
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
      </mat-icon>
    </form>
  </div>
</div>
