<mat-toolbar *ngIf="(showBackButtonToolbarHeader || isLoggedIn)" color="primary" class="app-toolbar-header">
  <div *ngIf="showBackButtonToolbarHeader; then backButtonTemplate else textTemplate"></div>

  <ng-template #backButtonTemplate>
    <div class="align-icon-and-text">
      <button mat-icon-button (click)="returnToPage()">
        <mat-icon class="notranslate">chevron_left</mat-icon>
      </button>
      <span class="text-header">{{ textBackButtonToolbarHeader }}</span>
    </div>
  </ng-template>

  <ng-template #textTemplate>
    <div class="text-without-back-button">
      <span class="text-header">{{ textBackButtonToolbarHeader }}</span>
    </div>
  </ng-template>

  <div matRipple class="text-header" *ngIf="showChangeSpaceButtonToolbarHeader" style="padding-left: 5px;">
    <span class="material-icons-outlined notranslate" (click)="openDialogChangeSpace()">
      expand_more
    </span>
  </div>
  <span class="fill-space"></span>

  <div matRipple *ngIf="showChangeSpaceButtonToolbarHeader" class="align-icon-and-text" routerLink="/my-profile">
    <button mat-icon-button>
      <mat-icon class="notranslate">perm_identity</mat-icon>
    </button>
  </div>
</mat-toolbar>

