<mat-toolbar *ngIf="(showBackButtonToolbarHeader || isLoggedIn)" color="primary" class="app-toolbar-header">
  <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
  
  <div *ngIf="showBackButtonToolbarHeader; then backButtonTemplate else textTemplate"></div>

  <ng-template #backButtonTemplate>
    <div class="align-icon-and-text">
      <button mat-icon-button (click)="returnToPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span class="text-header">{{ textBackButtonToolbarHeader }}</span>
    </div>
  </ng-template>

  <ng-template #textTemplate> 
    <div class="text-without-back-button">
      <span class="text-header">{{ textBackButtonToolbarHeader }}</span>
    </div>
  </ng-template>
 

  <span class="fill-space"></span>

  <div  class="align-icon-and-text" [style.visibility]="isLoggedIn ? 'visible' : 'hidden' ">
    <button mat-icon-button [matMenuTriggerFor]="menuAccount">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu  #menuAccount="matMenu" xPosition="before">
  <div class="menu-account">
    <mat-list>
      <mat-list-item>
        <button mat-menu-item (click)="onMyProfile()">
          <span>{{ 'user.myProfile' | translate}}</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-menu-item (click)="onLogout()">
          <span>{{ 'button.logout' | translate}}</span>
          <mat-icon>logout</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</mat-menu>
