.app-toolbar-header {
  height: 8vh; // Component content fills entire verticle space
  padding: 0px 5px;
  background: #FFFFFF;
}

.fill-space {
  flex: 1 1 auto; // Fill space between two icons
}

.toolbar-icon {
  line-height: 0; // Set to zero or will affect spacing between icon and text
}

.toolbar-icon-text {
  line-height: 1.8; // Proper spacing between icon and text
  font-size: 70%; // Smaller text size for proper display under icon
}

.active-menu-item {
  color: black;
}

.menu-account {
  width: 25vh;
  height: 18vh;
  padding: 0px;
  bottom: 0px;
}

.align-icon-and-text, .text-without-back-button {
  align-items: center;
  display: flex;
}

.text-without-back-button {
  padding-left: 20px;
}

.text-header, .text-header-profile {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

}

mat-icon, .text-header, .text-header-profile {
  color: rgba(0, 0, 0, 0.87);
}

.text-header {
  font-size: 20px;
}

.text-header-profile {
  font-size: 16px;
}
