.justify-content-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-form-field, button {
  width: 90%;
  max-width: 320px;
  margin: -10px 5%;
  padding: 0%;
  font-size: 14px;
}

mat-slide-toggle {
  margin: -5px 5% 24px;
  width: 100%;
  max-width: 320px;
}

mat-radio-group {
  margin: -20px 5% 25px;
  width: 100%;
  max-width: 320px;
}

.text-create-music, .status-music, .radio {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.form-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
}

.status-music {
  width: 100%;
  padding-top: 5px;
}

.radio {
  width: 40%;
  padding: 10px;
  margin: 0px 5px 5px;
  border-radius: 8px;
}
