<div class="app-main-content-start">

  <mat-stepper orientation="vertical" [linear]="true" #stepper style="width: 100%;">

    <mat-step state="info">
      <ng-template matStepLabel>{{ 'register.resetPassword.step.describe.label' | translate }}</ng-template>
      <div class="first-last-step-container">
        <span>{{ 'register.resetPassword.step.describe.message' | translate }}</span>
      </div>
      <div class="buttons-step-container">
        <button mat-button matStepperNext class="next-step-button">{{ 'button.next' | translate }}</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup" state="mail">
      <div class="step-content-container">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{ 'register.resetPassword.step.email.label' | translate }}</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'informationsUser.email' | translate }}</mat-label>
            <input matInput placeholder="{{ 'placeholder.email' | translate }}" formControlName="email" required>
            <mat-error *ngIf="email?.errors">{{getErrorInvalidEmailMessage()}}</mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="buttons-step-container">
        <button mat-button matStepperPrevious>{{ 'button.back' | translate }}</button>
        <button mat-raised-button
                matStepperNext
                type="submit"
                [disabled]="!firstFormGroup.valid"
                [class]="firstFormGroup.valid ? 'next-step-button' : 'next-step-button-disabled'"
                (click)="sendTemporaryPassword()">
          {{ 'button.next' | translate }}
        </button>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" state="lock_clock">
      <div class="step-content-container">
        <form [formGroup]="secondFormGroup" autocomplete="off">
          <ng-template matStepLabel>{{ 'register.resetPassword.step.temporaryPassword.label' | translate }}</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'placeholder.temporaryPassword' | translate }}</mat-label>
            <input matInput formControlName="temporaryPassword" placeholder="{{ 'placeholder.temporaryPassword' | translate }}"
                   required>
            <mat-error *ngIf="temporaryPassword?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="buttons-step-container">
        <button mat-button matStepperPrevious>{{ 'button.back' | translate }}</button>
        <button mat-button
                matStepperNext
                type="submit"
                [disabled]="!secondFormGroup.valid"
                [class]="secondFormGroup.valid ? 'next-step-button' : 'next-step-button-disabled'">
            {{ 'button.next' | translate }}
        </button>
      </div>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" state="password">
      <div class="step-content-container">
        <form [formGroup]="thirdFormGroup" autocomplete="off">
          <ng-template matStepLabel>{{ 'register.resetPassword.step.newPassword.label' | translate }}</ng-template>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'informationsUser.password' | translate }}</mat-label>

            <input id="newPassword"
                  [type]="hide ? 'password' : 'text'"
                  matInput
                  formControlName="password"
                  required>

            <button mat-icon-button
                    matSuffix
                    (click)="hide = !hide">
              <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>

            <mat-error *ngIf="password?.errors">{{getErrorInvalidPasswordMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'placeholder.passwordConfirmation' | translate }}</mat-label>
            <input id="confirmNewPassword"
                  type="password"
                  matInput
                  formControlName="confirmPassword"
                  required>
            <mat-error *ngIf="confirmPassword?.errors">{{getErrorInvalidConfirmPasswordMessage()}}</mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="buttons-step-container">
        <button mat-button matStepperPrevious>{{ 'button.back' | translate }}</button>
        <button mat-button
                matStepperNext
                type="submit"
                [disabled]="!thirdFormGroup.valid"
                [class]="thirdFormGroup.valid ? 'next-step-button' : 'next-step-button-disabled'"
                (click)="changePassword()">
            {{ 'button.next' | translate }}
        </button>
      </div>
    </mat-step>
    <mat-step state="verified_user">
      <ng-template matStepLabel>{{ 'register.resetPassword.step.done.label' | translate }}</ng-template>
      <div class="first-last-step-container">
        <span>{{ 'register.resetPassword.step.done.message' | translate }}</span>
      </div>
      <div class="buttons-step-container">
        <button mat-button
                [disabled]="!(firstFormGroup.valid && secondFormGroup.valid && thirdFormGroup.valid)"
                [class]="(firstFormGroup.valid && secondFormGroup.valid && thirdFormGroup.valid) ? 'next-step-button' : 'next-step-button-disabled'"
                (click)="goToLogin()">
            {{ 'button.continue' | translate }}
        </button>
      </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="info">
      <mat-icon>info</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="mail">
      <mat-icon>mail</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="lock_clock">
      <mat-icon>lock_clock</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="password">
      <mat-icon>password</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="verified_user">
      <mat-icon>verified_user</mat-icon>
    </ng-template>
  </mat-stepper>
</div>
