<div mat-dialog-title >
  <div class="align-icon-and-text" style="justify-content: center; padding: 0px">
    <span class="music-name-dialog">{{musicName}}</span>

    <!-- <button mat-button  style="width:5%; text-align: end; padding: 0px;">
      <span class="material-icons-round">
        close
      </span>
    </button> -->
    <span class="material-icons-round" (click)="close()">
      close
    </span>

  </div>
</div>
<mat-dialog-content class="mat-typography">
  <span class="singer-name-dialog align-icon-and-text">
    <span class="material-icons" style="margin-right: 10px;">
      mic_none
    </span>
    [nome do cantor]
  </span>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()" style="width: 100%;">Editar</button>
  <!-- <button mat-button [mat-dialog-close]="true">Install</button> -->
</mat-dialog-actions>
