<div mat-dialog-title >
  <div class="title-dialog-container">
    <span class="center-text-header-dialog">{{data?.name}}</span>
    <span class="material-icons-round notranslate" (click)="close()">
      close
    </span>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <span class="singer-name-dialog align-icon-and-text">
    <span class="material-icons notranslate" style="margin-right: 10px;">
      mic_none
    </span>
    {{data?.singer?.name}}
  </span>

  <span class="singer-name-dialog align-icon-and-text music-info">
    <span class="material-icons notranslate" style="margin-right: 10px;">
      event_available
    </span>

    <div class="event-music-container">
      <span *ngFor="let item of eventList">
        <span style="margin-left: 5px;">
          {{item?.name}} • ({{ item?.utcDateTime  | date : 'dd/MM/yy' : '' : 'pt-br'  }})
        </span>
      </span>
      <mat-icon class="notranslate" *ngIf="isLoadingMusicDetails">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
      <div *ngIf="!hasEvents()">
          --
      </div>
    </div>
  </span>

  <div style="margin: 20px 0px 0px 10px;">
    <div class="status-apparence"
        style="width: fit-content;"
        [style.background]="getBackgroundColorStatus(data.musicStatus)">
        <span>
          {{ translateMusicStatus(data.musicStatus) }}
        </span>
    </div>
    <span class="status-describe">
      {{ getDescribeStatus(data.musicStatus) }}
    </span>
  </div>

  <div class="links-container">
    <span class="links-title">
      {{ 'music.linksOfMusic' | translate }}
    </span>
    <div
        class="links-item"
        [style.cursor]="item.typeLink === 'YOUTUBE' ? 'pointer' : 'default'"
        (click)="openYouTubeMiniPlayer(item.typeLink)"
        *ngFor="let item of musicLinkList | async">
      <div class="links-item-content">
        <div class="links-text-item">
          <img [src]="item?.pngRef" alt="image" style="padding-left: 21px;">
          <span style="padding-left: 6px;">
          {{ item?.displayValue }}
        </span>
        </div>

        <div class="links-link-item">
          <button mat-button [cdkCopyToClipboard]="item?.link || ''" (click)="showCopyLinkNotification()">
          <span class="material-icons notranslate">
            content_copy
          </span>
          </button>
          <a [href]="item?.link" target="_blank">
          <span class="material-icons notranslate" style="padding-right: 21px;">
            open_in_new
          </span>
          </a>
        </div>
      </div>

      <div *ngIf="item.typeLink === 'YOUTUBE' && isOpenYouTubeMiniPlayer"
           style="text-align: center;">
        <iframe allow="fullscreen; autoplay; encrypted-media; gyroscope;"
                style="width:100%; height: auto; border: none;"
                [src]="(getYoutubeId(item.link || '')) | safe">
        </iframe>
      </div>
    </div>
    <div *ngIf="(musicLinkList | async)?.length === 0 && !isLoadingMusicDetails" class="content-and-text-centered" style="padding: 20px;">
      <span class="option-to-select">
        <i>{{ 'event.noData.links' | translate }}</i>
      </span>
    </div>
    <hammeron-loading *ngIf="isLoadingMusicDetails" width="150"></hammeron-loading>
  </div>

  <div class="links-container" style="margin-top: 10px">
    <div class="align-icon-and-text" style="">
      <span class="material-icons-sharp" style="color: black;">event</span>
      <span class="links-title" style="margin-bottom: 0">{{ 'home.nextEvents' | translate }}</span>
    </div>

    <mat-list class="list-container">
      <mat-list-item [disabled]="isLoadingAssociateEvent" class="item-list" *ngFor="let event of nextEventsToDisplay | async">
        <div *ngIf="!isLoadingMusicDetails" class="item-event-to-associate-container">
          <div class="event-date-time-text date-time-to-association-container">
            <div>
              {{  event?.utcDateTime | date : 'dd/MM'}}
            </div>
            <div>
              {{  event?.utcDateTime | date : 'shortTime'}}h
            </div>
          </div>
          <div class="detail-card event-name-to-association">
            {{ event.name }}
          </div>
          <span [style.color]=" isLoadingAssociateEvent ? 'rgba(0, 0, 0, 0.16)' : '#142454'" class="action-to-associate" (click)="addOrRemoveMusicOnEvent(event)">
            <mat-icon class="notranslate" *ngIf="isLoadingAssociateEvent && event.id === currentEventAssociatingMusic?.id">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
            <span class="material-icons-outlined notranslate" *ngIf="!(isLoadingAssociateEvent && event.id === currentEventAssociatingMusic?.id)">
              {{event.hasMusicId ? 'remove': 'add'}}
            </span>
        </span>
        </div>
      </mat-list-item>
      <hammeron-loading *ngIf="isLoadingMusicDetails" width="150"></hammeron-loading>
    </mat-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="content-and-text-centered" style="width: 100%;">
    <button mat-button submit
      [disabled]="isNotEditable()"
      [routerLink]="['/music/create-or-edit']"
      [state]="data"
      (click)="close()"
      [style.background]=" isNotEditable() ? 'rgba(0, 0, 0, 0.16)' : '#142454'"
      style="color: #FFFFFF;">
    {{ 'button.edit' | translate}}
  </button>
  </div>
</mat-dialog-actions>
