button {
  width: 90%;
  max-width: 320px;
  padding: 0%;
  font-size: 14px;
  border-radius: 8px;
}

.singer-name-dialog {
  border-left: groove;
  padding-left: 5px;
  margin: 0px 10px 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #142454;
}

.status-describe {
  padding-left: 5px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: rgba(0, 0, 0, 0.494118);
}

.links-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.links-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;

  color: rgba(0, 0, 0, 0.87);
}

.links-item {
  background: #F7F8FD;
  border-radius: 8px;
  width: 95%;
  min-height: 40px;
  margin: 8px 5px 0px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #142454;
}

.links-item-content {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
}

.links-text-item {
  display: flex;
  align-items: center;
  text-align: start;
}

.links-link-item {
  display: flex;
  align-items: flex-end;
}

.event-music-container {
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.494118);
  display: flex;
  flex-direction: column;
}
