<div mat-dialog-title >
  <div class="title-dialog-container">
    <span class="center-text-header-dialog">{{data?.name}}</span>
    <span class="material-icons-round notranslate" style="margin-right: 20px;" (click)="close()">
      close
    </span>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <span class="singer-name-dialog align-icon-and-text">
    <span class="material-icons notranslate" style="margin-right: 10px;">
      mic_none
    </span>
    {{data?.singer?.name}}
  </span>

  <span class="singer-name-dialog align-icon-and-text music-info">
    <span class="material-icons notranslate" style="margin-right: 10px;">
      event
    </span>

    <div class="event-music-container">
      <span *ngFor="let item of eventList">
        <span style="margin-left: 5px;">
          {{item?.name}} • ({{ item?.date  | date : 'dd/MM/yy' : '' : 'pt-br'  }})
        </span>
      </span>
      <div *ngIf="eventList?.length === 0">
          --
      </div>
    </div>
  </span>

  <div style="margin-top: 25px; margin-left: 20px;">
    <div class="status-apparence"
        style="width: fit-content;"
        [style.background]="getBackgroundColorStatus(data.musicStatus)">
        <span>
          {{ translateMusicStatus(data.musicStatus) }}
        </span>
    </div>
    <span class="status-describe">
      {{ getDescribeStatus(data.musicStatus) }}
    </span>
  </div>

  <div class="links-container">
    <span class="links-title">
      Links da Música
    </span>
    <div class="links-item" *ngFor="let item of musicLinkList">
      <div class="links-text-item">
        <img [src]="item?.pngRef" alt="image" style="padding-left: 21px;">
        <span style="padding-left: 6px;">
          {{ item?.displayValue }}
        </span>
      </div>

      <div class="links-link-item">
        <button mat-button [cdkCopyToClipboard]="item?.link || ''" (click)="showCopyLinkNotification()">
          <span class="material-icons notranslate">
            content_copy
          </span>
        </button>
        <a [href]="item?.link" target="_blank">
          <span class="material-icons notranslate" style="padding-right: 21px;">
            open_in_new
          </span>
        </a>
      </div>
    </div>
    <div *ngIf="musicLinkList?.length === 0" class="content-and-text-centered" style="padding: 20px;">
      <span class="option-to-select">
        <i>{{ 'event.noData.links' | translate }}</i>
      </span>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="content-and-text-centered" style="width: 100%;">
    <button mat-button submit
    [routerLink]="['/music/create-or-edit']"
    [state]="data"
    (click)="close()"
    style="background: #142454; color: #FFFFFF;">
    {{ 'button.edit' | translate}}
  </button>
  </div>
</mat-dialog-actions>
