
.app-container {
  height: 100vh;
}

mat-sidenav-container, mat-sidenav-content, .app-main-content {
  width: 100%;
}

mat-sidenav {
  height: 05vh;
  //width: 35%;
}

.app-toolbar-header, .footer {
  height: 8vh; // Component content fills entire verticle space
  padding: 0px 5px;
}
/*
.footer {
  //position: fixed;
  bottom: 0px;
  overflow: visible;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
*/
.fill-space {
  flex: 1 1 auto; // Fill space between two icons
}

.toolbar-icon {
  line-height: 0; // Set to zero or will affect spacing between icon and text
}

.toolbar-icon-text {
  line-height: 1.8; // Proper spacing between icon and text
  font-size: 70%; // Smaller text size for proper display under icon
}

.active-menu-item {
  color: black;
}

.menu-account {
  width: 25vh;
  height: 18vh;
  padding: 0px;
  bottom: 0px;
}

.align-icon-and-text {
  align-items: center;
  display: flex;
}

.text-header, .text-header-profile {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.text-header {
  font-size: 20px;
}

.text-header-profile {
  font-size: 16px;
}
