.app-container {
  height: 100vh;
}

mat-sidenav-container, mat-sidenav-content, .app-main-content-center {
  width: 100%;
}

mat-sidenav {
  height: 05vh;
  //width: 35%;
}

.height-content {
  height: 92vh;
  overflow: hidden;
  min-height: 544px;
}
/*
.footer {
  //position: fixed;
  bottom: 0px;
  overflow: visible;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
*/
