<div class="app-main-content-center">

  <div>
    <img src="/assets/png/logo_blue_240x52.png" alt="logo" style="margin: 10px 0px 10px;">
    <p class="textInfoBeforeForm padding20px">
      {{ 'register.messageBeforeRegisterForm' | translate }}
    </p>
  </div>
  <br>
  <div>
    <form [formGroup]="registerForm" >

      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.name' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.fullName' | translate }}" formControlName="name" required>
        <mat-error *ngIf="name?.errors">{{getErrorInvalidNameMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.email' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.email' | translate }}" formControlName="email" required>
        <mat-icon class="notranslate" matSuffix>email</mat-icon>
        <mat-error *ngIf="email?.errors">{{getErrorInvalidEmailMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.cellPhone' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.cellPhone' | translate }}" formControlName="cellPhone" required type="text" mask="(00) 0 0000-0000">
        <mat-icon class="notranslate" matSuffix>phone_android</mat-icon>
        <mat-error *ngIf="cellPhone?.errors">{{getErrorInvalidCellPhoneMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button
              class="blue-button"
              type="submit"
              [disabled]="isInvalidFormOrLoadingRequest()"
              (click) = "onSubmit()">
        <span *ngIf="!isLoading">{{ 'button.continue' | translate }}</span>
        <mat-icon class="notranslate" *ngIf="isLoading">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
    </form>
  </div>
</div>
