<div class="app-main-content-center">
  <p class="textInfoBeforeForm padding20px">
		{{ 'register.messageBeforeRegisterForm' | translate }}
	</p>
  <br>
  <div>
    <form [formGroup]="registerForm" >

      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.name' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.fullName' | translate }}" formControlName="name" required>
        <mat-error *ngIf="name?.errors">{{getErrorInvalidNameMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.email' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.email' | translate }}" formControlName="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email?.errors">{{getErrorInvalidEmailMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.cellPhone' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.cellPhone' | translate }}" formControlName="cellPhone" required type="text" mask="(00) 0 0000-0000">
        <mat-icon matSuffix>phone_android</mat-icon>
        <mat-error *ngIf="cellPhone?.errors">{{getErrorInvalidCellPhoneMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <app-button-loading [isLoading] = "isLoading"
          [isValidForm] = "!registerForm.valid"
          buttonWidthSize = "320px"
          buttonHeightSize = "48px"
          (click)="onSubmit()">
      </app-button-loading>
    </form>
  </div>
</div>
