<mat-card class="register-card">

  <mat-card-title style="margin: 10px">{{ 'Tela inicial' }}</mat-card-title>
  <mat-card style="margin: 10px">
    <mat-card-content>
      <p>...</p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card-content>
    <button mat-button class="button-home" style="background-color: #0FB2F2;">
      <div class="icon-home">
        <mat-icon>library_music</mat-icon>
      </div>
      <div class="home-icon-text">
        <span>Músicas</span>
      </div>
    </button>

    <button mat-button class="button-home" style="background-color: #F2A413;">
      <div class="icon-home">
        <mat-icon>queue_music</mat-icon>
      </div>
      <div class="home-icon-text">
        <span>Repertórios</span>
      </div>
    </button>
    <br>

    <button mat-button class="button-home" style="background-color: #042440;">
      <div class="icon-home">
        <mat-icon>groups</mat-icon>
      </div>
      <div class="home-icon-text">
        <span>Usuários</span>
      </div>
    </button>

    <button mat-button class="button-home" style="background-color: #3795BB;">
      <div class="icon-home">
        <mat-icon>event</mat-icon>
      </div>
      <div class="home-icon-text">
        <span>Eventos</span>
      </div>
    </button>

  </mat-card-content>
</mat-card>
