.button-home {
  margin: 5px;
  min-width: 152px;
  min-height: 80px;
  padding: 12px 10px;
  border-radius: 8px;
  background-color: white;
}

.home-icon-text {
  line-height: 1.8; // Proper spacing between icon and text
  font-size: 100%; // Smaller text size for proper display under icon
  color: #142454;
}

.home-text {
  font-family: Poppins;
  font-style: normal;
}
