.buttons-and-next-events-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}
.button-home-container {
  display:flex;
  justify-content: center;
  padding-top: 10px;
  height: 85px;
}

.button-home {
  min-width: 155px;
  min-height: 75px;
  padding: 8px 6px;
  border-radius: 8px;
  background-color: white;
}

.home-icon-text {
  line-height: 1.8; // Proper spacing between icon and text
  font-size: 100%; // Smaller text size for proper display under icon
  color: #142454;
}

.home-text {
  font-family: Poppins;
  font-style: normal;
}

.event-container {
  min-height: 200px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.music-name, .button-text-history{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #142454;
}

.center-music-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.music-container {
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  max-width: 1000px;
}

.music-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.music-name {
  color: #142454;
}

.music-name {
  line-height: 20px;
}

.music-card-content {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.button-history {
  width: 90%;
  margin: 0 5%;
  min-height: 5px;
  border-radius: 8px;
  background-color: white;
  padding: 0;
}

.button-text-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

