<div class="app-main-content">
  <div>
    <div style="padding-top: 10px; height: 85px;">
      <button routerLink="/music" mat-button class="button-home">
        <span class="material-icons">
          music_note
        </span>
        <div class="home-icon-text">
          <span>Músicas</span>
        </div>
      </button>

      <button routerLink="/space" mat-button class="button-home" >
        <span class="material-icons">
          groups
        </span>
        <div class="home-icon-text">
          <span>[Nome do espaço]</span>
        </div>
      </button>
    </div>

    <div class="event-container">
      <div class="align-icon-and-text" style="padding-top: 0px;">
        <span class="material-icons-sharp" style="color: black;">event</span>
        <span class="text-poppins-blue">Próximos eventos</span>
      </div>

      <mat-card class="card-item">
        <mat-card-content>
          <div class="event-date-time">
            <span>Dia da semana, DD Mês</span><span>00:00h</span>
          </div>
          <br>
          <span class="event-describe">Nome do compromisso</span>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-item">
        <mat-card-content class="event-date-time align-icon-and-text" style="padding: 0px;">
          <span>Ver todos</span>
          <span class="material-icons-outlined">
            navigate_next
          </span>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="music-container">
      <div class="align-icon-and-text" style="padding-top: 0px;">
        <span class="material-icons-sharp" style="color: black;">queue_music</span>
        <span class="text-poppins-blue">Últimas músicas tocadas</span>
      </div>

      <mat-card class="card-item">
        <mat-card-content class="music-card-content">
          <div class="music-name">
            <span>Nome da Música</span>
          </div>
          <span class="music-singer">Cantor</span>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-item">
        <mat-card-content class="event-date-time align-icon-and-text" style="padding: 0px;">
          <span>Ver todos</span>
          <span class="material-icons-outlined">
            navigate_next
          </span>
        </mat-card-content>
      </mat-card>

    </div>

  </div>
</div>
