mat-form-field, button {
  width: 90%;
  margin: 0% 5%;
  padding: 0%;
  font-size: 14px;
}

button {
  border-radius: 8px;
  height: 48px;
}

mat-slide-toggle {
  margin: 0% 5% 24px;
}

mat-checkbox {
  margin: 0% 5% 50px;
}

.text-create-music {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
}
