<div class="app-main-content-start">

  <div style="margin-top: 24px">
    <form [formGroup]="musicForm" autocomplete="off" class="form-center">

      <mat-form-field appearance="outline">
        <mat-label>{{ 'music.name' | translate }}</mat-label>
        <input matInput placeholder="{{ 'music.name' | translate }}" formControlName="musicName" required>
        <mat-error *ngIf="musicName?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'music.singer' | translate }}</mat-label>
        <input matInput placeholder="{{ 'music.singer' | translate }}" formControlName="singerName" required [matAutocomplete]="auto">
        <mat-error *ngIf="singerName?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='selectSinger($event.option.value)'>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'music.youtubeLink' | translate }}</mat-label>
        <input matInput placeholder="{{ 'music.youtubeLink' | translate }}" formControlName="youtubeLink">
        <mat-error *ngIf="musicName?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'music.spotifyLink' | translate }}</mat-label>
        <input matInput placeholder="{{ 'music.spotifyLink' | translate }}" formControlName="spotifyLink">
        <mat-error *ngIf="musicName?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'music.chordLink' | translate }}</mat-label>
        <input matInput placeholder="{{ 'music.chordLink' | translate }}" formControlName="chordLink">
        <mat-error *ngIf="musicName?.errors">{{ 'validations.requiredField' | translate }}</mat-error>
      </mat-form-field>
      <br>

      <mat-slide-toggle
        [disabled]="checkBoxRejected"
        color="primary"
        [checked]="slideStatus"
        (change)="changeStatus()">
          <span class="text-create-music">
            {{(slideStatus ? 'music.disable' : 'music.enable') | translate}}
          </span>
    </mat-slide-toggle>
    <br>

    <mat-checkbox color="primary" (click)="clickCheckbox()" [checked]="checkBoxRejected">

      <span class="text-create-music">
        {{'music.checkRejected' | translate}}
      </span>
    </mat-checkbox>

    <button mat-raised-button
      style.width="100%"
      style.height="48px"
      type="submit" [disabled]="!musicForm.valid || isLoading"
      (click) = "onSave()">
        <span *ngIf="!isLoading">{{ 'button.save' | translate }}</span>
        <mat-icon *ngIf="isLoading">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
    </form>
  </div>
</div>
