mat-form-field, button {
  width: 328px;
}

.hello, .message-before-form {
  margin: 5px;
  padding-left: 5px;
  text-align: initial;
}

.hello {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;

  display: flex;

  color: #142454;
}

.message-before-form {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  padding-bottom: 10px;

  color: rgba(0, 0, 0, 0.87);
}

.message-after-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.register-span, .reset-password {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 20px;
  color: #2C9163;
}

.register-span{
  font-weight: 500;
}

.reset-password {
  padding-left: 0%;
  margin: 0%;
  width: 125px;
}

.text-left {
  width: 325px;
  text-align: left;
  padding-bottom: 10px;
}

.full-height {
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
