<mat-card class="register-card">

  <mat-card-title>{{ 'section.registerConfirmation' | translate }}</mat-card-title>

  <mat-card-content>
    <img mat-card-image src="none" alt="describe img">
    <p>
      {{ 'register.sentCode' | translate }}
    </p>
    <br>
    <p>
      {{ 'register.pleasePutTheCode' | translate }}
    </p>

    <p>
      {{ 'register.notReceiveCodePt1' | translate }}
      <a routerLink="." (click)="sendNewToken()">{{ 'useful.here' | translate }}</a>
      {{ 'register.notReceiveCodePt2' | translate }}
      </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">AVANÇAR</button>
  </mat-card-actions>

</mat-card>
