.title-register-password {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #142454;
  margin-bottom: 8px;
}

.message-before-form-password {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 18px;
}

p {
  padding-top: 0%;
  margin-top: 0%;
}

mat-form-field {
  width: 320px;
  padding: 8px;
}

.container-input-password {
  padding-bottom: 40px;
}
