<div class="app-main-content">
  <h1>
		{{ 'section.registerPassword' | translate }}
	</h1>
  <br>
  <div>
    <form [formGroup]="registerPasswordForm" >
      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.password' | translate }}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password?.errors">{{getErrorInvalidPasswordMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <button id="buttonSubmit" mat-raised-button color="primary" type="submit" [disabled]="!registerPasswordForm.valid" (click)="onSubmit()">
        {{ 'button.continue' | translate }}
      </button>
      <mat-icon>
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
      </mat-icon>
    </form>
  </div>
</div>
