<div class="app-main-content-center">
  <div>
    <img src="/assets/png/logo_blue_240x52.png" alt="image" style="margin: 10px 0px 60px;">
    <p class="title-register-password">
      {{ 'register.passwordMessage' | translate }}
    </p>
    <p class="message-before-form-password">
      {{ 'register.createPassword' | translate }}
    </p>
  </div>
  <br>
  <div>
    <form [formGroup]="registerPasswordForm" >

      <div class="container-input-password">

        <mat-form-field appearance="outline">
          <mat-label>{{ 'informationsUser.password' | translate }}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password?.errors">{{getErrorInvalidPasswordMessage()}}</mat-error>
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'placeholder.passwordConfirmation' | translate }}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword?.errors">{{getErrorInvalidConfirmPasswordMessage()}}</mat-error>
        </mat-form-field>

      </div>
      <br>
      <app-button-loading [isLoading] = "isLoading"
          [isValidForm] = "!registerPasswordForm.valid"
          buttonWidthSize = "320px"
          buttonHeightSize = "48px"
          (click)="onSubmit()">
      </app-button-loading>
    </form>
  </div>
</div>
