<mat-card>
  <mat-card-title>
		{{ 'section.register' | translate }}
	</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" >

      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.name' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.fullName' | translate }}" formControlName="name" required>
        <mat-error *ngIf="name?.errors">{{getErrorInvalidNameMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.email' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.email' | translate }}" formControlName="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email?.errors">{{getErrorInvalidEmailMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.cellPhone' | translate }}</mat-label>
        <input matInput placeholder="{{ 'placeholder.cellPhone' | translate }}" formControlName="cellPhone" required type="text" mask="(00) 00000-0000">
        <mat-icon matSuffix>phone_android</mat-icon>
        <mat-error *ngIf="cellPhone?.errors">{{getErrorInvalidCellPhoneMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'informationsUser.password' | translate }}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password?.errors">{{getErrorInvalidPasswordMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <button id="buttonSubmit" mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid" (click)="onSubmit()">
        {{ 'button.createAccount' | translate }}
      </button>
      <mat-icon>
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
      </mat-icon>
    </form>
  </mat-card-content>
</mat-card>
